@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');

@import "tailwindcss";

@theme {

  /* font-shadows/cursive */
  --font-shadows: "Shadows Into Light", cursive;

  /* primary colors */
  --color-firstGround: #D7D3C9;
  --color-secondGround: #DDDBD8;

  --color-colorComment: #5C5C5C;

}

body {
  @apply bg-firstGround max-w-4xl mx-auto px-6 py-6
}